<form action="/jobs" method="post">
  <h1>Add new job</h1>
  <label for="title">Title</label>
  <input id="title" name="title" type="text">
  <label for="description">Description</label>
  <input id="description" name="description" type="text">
  <label for="contact">Contact Info</label>
  <input id="contact" name="contact" type="text">
  <button type="submit">Submit</button>
</form>
