@using JobBoard.Models;

<h1>Job Board</h1>

@if (Model.Count == 0)
{
  <p>There are no jobs in the list.</p>
}
<ul>
  @foreach (JobOpening i in Model)
  {
    <li>@i.Title</li>
    <li>@i.Description</li>
    <li>@i.Contact</li>
  }
</ul>
<a href="/jobs/new">Add a new Job.</a>