@using JobBoard.Models;


<h3>Here are all the jobs in this category:</h3>

<ol>
@foreach (Jobs i in @Model["jobs"])
{
  <li><a href='/categories/@Model["category"].Id/jobs/@i.Id'>@i.Title</a></li>
}
</ol>

<p><a href='/categories/@Model["category"].Id/jobs/new'>Add a new Job</a></p>
<p><a href='/categories'>Return to category list</a></p>
<p><a href='/'>Return to Main Page</a></p>
@{
  Layout = "_Layout";
}